[Unit]
Description=ANF Server Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull aquaron/${name}
ExecStart=/usr/bin/docker run ${map} ${port} --name ${name} -h ${name} aquaron/${name}
ExecStop=/usr/bin/docker stop -t 2 ${name}
ExecStopPost=/usr/bin/docker rm -f ${name}
ExecReload=/usr/bin/docker exec -t ${name} runme.sh reload

[Install]
WantedBy=multi-user.target
