[Unit]
Description=ANF Server Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull ${image}
ExecStart=/usr/bin/docker run ${map} -p ${port}:80 --name ${name} -h ${name} ${image}
ExecStop=/usr/bin/docker stop -t 2 ${name}
ExecStopPost=/usr/bin/docker rm -f ${name}
ExecReload=/usr/bin/docker exec -t ${name} runme.sh reload

[Install]
WantedBy=multi-user.target
